<a href="https://colab.research.google.com/github/minxiu870413/hw2M10921019/blob/main/%E9%A1%9E%E7%A5%9E%E7%B6%93%E7%B6%B2%E8%B7%AF_%E6%88%90%E4%BA%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# 下載 file_id 為 "1ktkXrA7sxCpvBbubaPcbRH5CZN0NIX8x" 的檔案，並將它命名為 winequality-red.csv
!gdown --id '1mTkxtnVpSwDjMQ10pdeVcy4h5SYXVP87' --output datasets
# 列出目前目錄下所有的檔案
!ls

Downloading...
From: https://drive.google.com/uc?id=1mTkxtnVpSwDjMQ10pdeVcy4h5SYXVP87
To: /content/datasets
100% 1.90M/1.90M [00:00<00:00, 123MB/s]
datasets  datasets1  sample_data

In [11]:
import pandas as pd

import numpy as np
df = pd.read_csv('datasets')
df.head()

   Unnamed: 0   age  workclass  ...  hours_per_week  native_country  salary
0           0  39.0          7  ...            40.0              39       0
1           1  50.0          6  ...            13.0              39       0
2           2  38.0          4  ...            40.0              39       0
3           3  53.0          4  ...            40.0              39       0
4           4  28.0          4  ...            40.0               5       0

[5 rows x 16 columns]

In [12]:
# 下載 file_id 為 "1ktkXrA7sxCpvBbubaPcbRH5CZN0NIX8x" 的檔案，並將它命名為 winequality-red.csv
!gdown --id '1KklI_RcchYfbpgb3XNvkur0pM6GehKta' --output datasets1
# 列出目前目錄下所有的檔案
!ls

Downloading...
From: https://drive.google.com/uc?id=1KklI_RcchYfbpgb3XNvkur0pM6GehKta
To: /content/datasets1
100% 1.90M/1.90M [00:00<00:00, 57.1MB/s]
datasets  datasets1  sample_data

In [13]:
import pandas as pd

import numpy as np
df1 = pd.read_csv('datasets1')
df.head()

   Unnamed: 0   age  workclass  ...  hours_per_week  native_country  salary
0           0  39.0          7  ...            40.0              39       0
1           1  50.0          6  ...            13.0              39       0
2           2  38.0          4  ...            40.0              39       0
3           3  53.0          4  ...            40.0              39       0
4           4  28.0          4  ...            40.0               5       0

[5 rows x 16 columns]

In [14]:
y_test=df1['hours_per_week']
x_test=df1.drop('hours_per_week',axis=1)

In [15]:
y_train=df['hours_per_week']
x_train=df.drop('hours_per_week',axis=1)

In [16]:
#!ls

from sklearn.model_selection import train_test_split
import keras
import keras.utils
from keras import utils as np_utils
from keras.utils.np_utils import to_categorical

In [17]:

x_train_normalize=x_train/255  #標準化
x_test_normalize=x_test/255
y_train_onehot = np_utils.to_categorical(y_train)  #one_hot轉換
y_test_onehot = np_utils.to_categorical(y_test)

In [18]:
arr=df
print(arr.ndim)
print(arr.shape)
print(arr.dtypes)

2
(32561, 16)
Unnamed: 0          int64
age               float64
workclass           int64
fnlwgt            float64
education           int64
education_num     float64
marital_status      int64
occupation          int64
relationship        int64
race                int64
sex                 int64
capital_gain      float64
capital_loss      float64
hours_per_week    float64
native_country      int64
salary              int64
dtype: object

In [19]:
x_train1D=np.asarray(x_train_normalize).astype('float32')
x_test1D=np.asarray(x_test_normalize).astype('float32')
y_train1D=np.asarray(y_train_onehot).astype('float32')
y_test1D=np.asarray(y_test_onehot).astype('float32')
array=x_train
array

       Unnamed: 0   age  workclass  ...  capital_loss  native_country  salary
0               0  39.0          7  ...           0.0              39       0
1               1  50.0          6  ...           0.0              39       0
2               2  38.0          4  ...           0.0              39       0
3               3  53.0          4  ...           0.0              39       0
4               4  28.0          4  ...           0.0               5       0
...           ...   ...        ...  ...           ...             ...     ...
32556       32556  27.0          4  ...           0.0              39       0
32557       32557  40.0          4  ...           0.0              39       1
32558       32558  58.0          4  ...           0.0              39       0
32559       32559  22.0          4  ...           0.0              39       0
32560       32560  52.0          5  ...           0.0              39       1

[32561 rows x 15 columns]

In [33]:
from keras.models import Sequential #在使用前需要先提前導入這個函數
model = Sequential()
from keras.layers import Dense
"""
    建立輸入層和第一層隱蔽層
    
    參數：
        units - 隱蔽層神經元個數
        input_dim - 輸入層神經元個數
        kernel_initializer - 使用normal distribution正態分佈的隨機數來初始化權重和方差
        activation - 定義激活函數
"""
model.add(Dense(units = 256,  
                input_dim = 15,  
                kernel_initializer = 'normal',  
                activation = 'relu'))

In [34]:
from keras.layers import Dropout
model.add(Dropout(0.5)) #隨機消除50%的神經單元

In [38]:
"""
    建立輸出層
    
    參數：
        units - 輸出層神經元個數
        kernel_initializer - 使用normal distribution正態分佈的隨機數來初始化權重和方差
        activation - 定義激活函數
"""
model.add(Dense(units = 100,
                kernel_initializer = 'normal',
                activation = 'softmax'))

In [39]:
print(model.summary())

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_5 (Dense)              (None, 256)               4096
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 15)                3855
_________________________________________________________________
dense_7 (Dense)              (None, 100)               1600
=================================================================
Total params: 9,551
Trainable params: 9,551
Non-trainable params: 0
_________________________________________________________________
None

In [40]:
"""
    定義訓練方式

    參數：
        loss - 損失函數： 這裏採用交叉熵的方式
        optimizer - 優化器: 使用adam優化器可以讓訓練收斂更快
        metrics - 評估模型：設置爲準確率

"""
model.compile(loss = 'categorical_crossentropy',  
                     optimizer = 'adam', metrics = ['accuracy'])

In [41]:
"""
    開始訓練

    參數：
        X_train_normalize - feature數字圖像的特徵值
        y_train_one_hot - 數字圖像的真實標籤
        metrics - 評估模型：設置爲準確率
        validation_spli - 訓練與驗證數據比例：80%用作訓練數據，20%用作驗證數據
        epochs - 訓練週期
        batch_size - 每批次的數據項數
        verbose - 顯示訓練過程
"""
model.fit(x=x_train1D,y=y_train1D,validation_split=0.2,
                          epochs=100,batch_size=10,verbose=1)

Epoch 1/100
2605/2605 [==============================] - 4s 2ms/step - loss: 3.0053 - accuracy: 0.4640 - val_loss: 2.4738 - val_accuracy: 0.4586
Epoch 2/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4283 - accuracy: 0.4695 - val_loss: 2.4356 - val_accuracy: 0.4586
Epoch 3/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4136 - accuracy: 0.4695 - val_loss: 2.4310 - val_accuracy: 0.4586
Epoch 4/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4108 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 5/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4101 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 6/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 7/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 8/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 9/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4282 - val_accuracy: 0.4586
Epoch 10/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 11/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4280 - val_accuracy: 0.4586
Epoch 12/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 13/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 14/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 15/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4288 - val_accuracy: 0.4586
Epoch 16/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4295 - val_accuracy: 0.4586
Epoch 17/100
2605/2605 [==============================] - 5s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 18/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 19/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 20/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4282 - val_accuracy: 0.4586
Epoch 21/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 22/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 23/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 24/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 25/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4288 - val_accuracy: 0.4586
Epoch 26/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 27/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 28/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 29/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 30/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 31/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4290 - val_accuracy: 0.4586
Epoch 32/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 33/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 34/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 35/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4291 - val_accuracy: 0.4586
Epoch 36/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 37/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4294 - val_accuracy: 0.4586
Epoch 38/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 39/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4288 - val_accuracy: 0.4586
Epoch 40/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4280 - val_accuracy: 0.4586
Epoch 41/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 42/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 43/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 44/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 45/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 46/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 47/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 48/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 49/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 50/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4280 - val_accuracy: 0.4586
Epoch 51/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 52/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 53/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4279 - val_accuracy: 0.4586
Epoch 54/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 55/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 56/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 57/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4295 - val_accuracy: 0.4586
Epoch 58/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 59/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 60/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4282 - val_accuracy: 0.4586
Epoch 61/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 62/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 63/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 64/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 65/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 66/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4098 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 67/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 68/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 69/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 70/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 71/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4291 - val_accuracy: 0.4586
Epoch 72/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 73/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 74/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4282 - val_accuracy: 0.4586
Epoch 75/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4281 - val_accuracy: 0.4586
Epoch 76/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 77/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4294 - val_accuracy: 0.4586
Epoch 78/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 79/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4290 - val_accuracy: 0.4586
Epoch 80/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4290 - val_accuracy: 0.4586
Epoch 81/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 82/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 83/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 84/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4095 - accuracy: 0.4695 - val_loss: 2.4289 - val_accuracy: 0.4586
Epoch 85/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4289 - val_accuracy: 0.4586
Epoch 86/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 87/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 88/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4288 - val_accuracy: 0.4586
Epoch 89/100
2605/2605 [==============================] - 5s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4294 - val_accuracy: 0.4586
Epoch 90/100
2605/2605 [==============================] - 5s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4294 - val_accuracy: 0.4586
Epoch 91/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 92/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4300 - val_accuracy: 0.4586
Epoch 93/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4287 - val_accuracy: 0.4586
Epoch 94/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4290 - val_accuracy: 0.4586
Epoch 95/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586
Epoch 96/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4285 - val_accuracy: 0.4586
Epoch 97/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4293 - val_accuracy: 0.4586
Epoch 98/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4096 - accuracy: 0.4695 - val_loss: 2.4286 - val_accuracy: 0.4586
Epoch 99/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4283 - val_accuracy: 0.4586
Epoch 100/100
2605/2605 [==============================] - 4s 2ms/step - loss: 2.4097 - accuracy: 0.4695 - val_loss: 2.4284 - val_accuracy: 0.4586

In [42]:
# 評估模型的準確率
scores = model.evaluate(x_test1D, y_test1D)
print()
print('accuracy=',scores[1])

1018/1018 [==============================] - 1s 990us/step - loss: 2.4125 - accuracy: 0.4673

accuracy= 0.4673382341861725

In [43]:
y_predict = model.predict(x_test1D)

In [44]:
from sklearn import metrics

metrics.mean_squared_error(y_test1D,y_predict)
print('RMSE：', np.sqrt(metrics.mean_squared_error(y_test1D,y_predict)))

RMSE： 0.087316215

In [45]:
def mape(y_test, y_predict):
    return np.mean(np.abs((y_predict - y_test1D) / (y_test1D +1))) * 100
print('MAPE:',mape(y_test1D, y_predict))

MAPE: 1.1433107778429985